* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #d31f1f;
}
nav a {
  text-decoration: none;
  color: white;
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
}
nav a.active {
  border-bottom: 1px solid white;
}
nav a:hover {
  border-bottom: 1px solid white;
}

.home {
  width: 100%;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0.75)), to(rgba(248, 7, 7, 0.37))), url(../images/hero/hero.jpg);
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.75), rgba(248, 7, 7, 0.37)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
}
.home h1 {
  padding-top: 100px;
  text-align: center;
  color: white;
  font-size: 64px;
}
.home h1 span {
  color: #d31f1f;
  font-size: 90px;
}
.home .heroText {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  font-size: 20px;
}
.home .heroText span {
  color: #d31f1f;
}
.home .triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #d31f1f;
  border-right: 100px solid transparent;
}
.home .triangle-bottomright {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 100px solid #d31f1f;
  border-left: 100px solid transparent;
  bottom: 0;
  right: 0;
}

.alertBanner {
  width: 100%;
  height: 80px;
  background-color: rgba(216, 210, 210, 0.329);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.alertBanner img {
  width: 30px;
}
.alertBanner p {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 15px;
}
.alertBanner span {
  font-size: 18px;
  font-weight: bold;
  color: #d31f1f;
}

.homeContent {
  width: 100%;
  height: 700px;
}
.homeContent h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.homeContent .holder {
  margin: 0 auto;
  width: 60%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.homeContent .holder .holderImage {
  width: 30%;
  height: 100%;
}
.homeContent .holder .holderImage img {
  width: 100%;
  height: 100%;
}
.homeContent .contentHolder {
  padding-top: 20px;
  margin: 0 auto;
  width: 60%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homeContent .contentHolder p {
  width: 220px;
  font-weight: lighter;
}

footer {
  width: 100%;
  height: 40%;
  background-color: rgba(216, 210, 210, 0.329);
}
footer .socialRow {
  width: 50%;
  height: 10%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .socialRow img {
  padding: 25px;
}
footer .footerHolder {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerHolder .footerInside {
  width: 25%;
  height: 100%;
  padding: 10px;
  color: #555555;
  white-space: nowrap;
}
footer .footerHolder .footerInside h1 {
  color: #d31f1f;
}
footer .footerHolder .footerInside ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
}
footer .footerHolder .footerInside ul li {
  padding-bottom: 15px;
}

.aboutWrapper {
  height: 100%;
  padding: 30px;
  padding-bottom: 100px;
}
.aboutWrapper .about {
  width: 100%;
  height: 600px;
}
.aboutWrapper .about img {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
.aboutWrapper .aboutContent {
  width: 100%;
  height: 500px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: -1;
}
.aboutWrapper .aboutContent .aboutSubContent {
  width: 50%;
  height: 50%;
  padding: 10px 10px 10px 10px;
  z-index: 1;
}
.aboutWrapper .aboutContent .aboutSubContent h1 {
  padding-top: 100px;
  text-align: center;
}
.aboutWrapper .aboutContent .aboutSubContent p {
  margin: 0 auto;
  width: 50%;
}
.aboutWrapper .aboutContent .aboutSubImg {
  width: 80%;
  height: 100%;
  background-color: #d31f1f;
  z-index: 1;
}
.aboutWrapper .aboutContent .aboutSubImg img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.aboutWrapper .aboutContent .aboutBanner {
  height: 50%;
  width: 100%;
  background-color: red;
}
.aboutWrapper .searchBar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.aboutWrapper .searchBar img {
  height: 30px;
  opacity: 0.5;
  padding-right: 15px;
}
.aboutWrapper .searchBar input[type=text] {
  border: 2px solid #d31f1f;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}